.yj-paginatorContainer {
  padding-bottom: 25px;
  position: relative;
  .loadBtn {
    position: absolute;
    bottom: 10px;
  }
  .btnPosition {
    top: 10px;
  }
  &.paddingTop {
    padding-top: 25px;
    padding-bottom: 0;
  }
}
